<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink=""><i class="fa-brands  fa-amazon fa-beat-fade me-2"></i>alamara</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <input (keyup)="search($event)" class="form-control" type="text">
                <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                       
                    </ul>
                </li> -->
            </ul>
            <form class="d-flex ms-auto">
                <!-- WhishLish -->
                <a class="btn btn-outline-dark me-2" routerLink="products/wish-list">
                    whishLish<i class="ms-2 fa-sharp  fa-solid fa-heart"></i>
                </a>
                <!-- Cart -->
                <a routerLink="products/addtoCart" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartCount}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>