nav{
    color: white;
    background-color: #213363;
    /* position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2; */

}
.navbar-brand{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: fantasy;
}
a{
    color: white;
}