<!-- Product section-->
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 w-75" [src]="product.image"
                    alt="product_Image" /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID: {{product._id}}</div>
                <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                <div class="fs-5 mb-5">
                    <span>{{product.price}}</span>
                </div>
                <p class="lead" style="text-align: justify;">{{product.description}}</p>
                <div class="d-flex justify-content-between">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" /> -->
                    <button (click)="addtoWishlist(product)" class="btn btn-outline-danger flex-shrink-0 me-2"
                        type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to Wish List
                    </button>

                    <button (click)="addtoCart(product)" class="btn btn-outline-success flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>